body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, figure, input, textarea, p, blockquote, th, td { padding: 0; margin: 0; }
body {background-color: #F0F3F4; font: 400 12px/1.5 'microsoft yahei', tahoma, arial, \5b8b\4f53, sans-serif;}
table { border-collapse: collapse; border-spacing: 0 }
ol, ul { list-style: none }
a { text-decoration: none; outline: none;}
a:hover{
    text-decoration:none;
    /*background-color: #16232D;*/
    color:#FFFFFF;
}
html, body{
    height: 100%;
}

